*.pyc
/tmp*
/.cache
/graphite_local_settings.py
/test.py
/test_numpy.py
/pg.py
/*.sql
/bench*
/.coverage
/.pytest_cache
/dist
/build
/*.egg-info
*.so
*.o
/.build-state
/*.http
/*.ini
/TODO
/hisser/*.html
ringbuffer.py
